a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

img { max-width: 100%;}



/* Global */
html {
  font-size: 62.5%;
  height: 100%;
  background-color:#fff;
}

body {
  font-family: 'Open Sans', 'Times', 'Arial', sans-serif;
  font-weight: 300;
  font-size: calc(0.9rem + 0.9vw);
  line-height: 2.2;
  letter-spacing: calc(0.02rem + 0.02vw);
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  font-size: calc(0.9rem + 0.9vw);
  text-decoration: none;
  color: #242424;
}

p {
  margin: 0;
}

section {
  padding: 50px 0;
}

button {
  font-family: 'Open Sans', 'Times', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;

}

h1 {
  font-size: calc(1.9rem + 1.9vw);
  line-height: 2.8;
  letter-spacing:calc(0.1rem + 0.1vw);
  font-weight: 600;
}

h2 {
  font-size: calc(1.6rem + 1.6vw);
  line-height: 2.2;
  letter-spacing: calc(0.1rem + 0.1vw);
}


h4 {
  font-size: calc(1rem + 1vw);
  line-height: 1.6;
  letter-spacing: calc(0.1rem + 0.1vw);
}


/* Header */
header {
  background-image: url(./assets/banner-2.jpg);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  padding: 25px 0;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}


/* Header Navigation */
.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.headerNavList {
  display: flex;
  flex: 1;
  align-items: center;
}

.headerNavList li{
  margin-left: 50px;
}

.headerCart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/* Mobile Navigation */
.mobileNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileNav {
  display: none;
}


/* Products Section */
.productsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 40px 0;
}

.sectionTitle {
  text-align: center;
}

.productImgContainer {
  width: 350px;
  height: 350px;
}

.productItem {
  margin: 4rem 2rem;
}

.productName {
  margin-top: 20px;
  text-align: center;
}

.productPrice {
  text-align: center;
}

.productBtnContainer {
  display: flex;
  justify-content: space-evenly;
}

.addBtn,
.quickViewBtn {
  max-width: 100%;
  padding: 10px;
  color: rgb(123, 103, 103);
  background: transparent;
  border: 1px solid rgb(123, 103, 103);
}

.addBtn:hover,
.addBtn:focus,
.quickViewBtn:hover,
.quickViewBtn:focus {
  box-shadow: inset 0px -50px 0px  rgb(123, 103, 103);
  color: #fff;
  transition: all 0.7s ease;
}


/* QuickView Div */
.quickViewContainer {
  position: fixed;
  height: 100%;
  width: 400px;
  background: rgb(238, 230, 230);
  top: 0;
  right: 0;
  z-index: 12;
  transition: all .5s ease;
  padding: 25px;
  overflow-y: scroll;
}

.quickViewContainer p {
  font-size: calc(0.8rem + 0.8vw)
}

.quickViewContainer h3 {
  font-size: calc(0.8rem + 0.8vw)
}
.quickViewCloseContainer {
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.quickViewProductImgContainer {
  margin: 25px auto;
}

.quickViewContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


/* Shopping Cart */
.headerCart span {
  margin-right: 2px;
}

.shoppingCart {
  font-size: 2.5rem;
}

.cartContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  background-color: #fff;
  height: 100%;
  padding: 0px  40px;
  z-index: 11;
  box-shadow: 2px 0 10px 0 rgba(0,0,0,.521);
  overflow-y: scroll;
}

.cartTopContent {
  margin: 30px auto;
  border-bottom: 1px solid #242424;
  padding-bottom: 20px;
}

.cartTopContent h2 {
  text-align: center;
}

.cartTopContent h4 {
  text-align: center;
}

.cartCloseContainer {
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.cartCloseBtn {
  font-size: 1.8rem;
}


/* Item in cart */
.itemInCart {
  margin: 50px auto;
  border-bottom: 1px solid #242424;
  padding-bottom: 10px;
}

.itemInfoInCart {
  margin-top: 20px;
}

.itemImgInCart {
  width: 200px;
  height: 200px;
}

.buyBtnContainer {
  margin-bottom: 60px;
}

.buyBtn {
  font-size: 1.6rem;
  letter-spacing: calc(0.1rem + 0.1vw);
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  background-color: #242424;
  color: #fff;
}

.buyBtn:hover,
.buyBtn:focus {
  color: #fff;
  background-color: #575757;
  transition: all .5s ease;
}

.subtotalInCart {
  text-align: right;
  margin: 30px auto;
}


/* Footer */
footer {
  background-color: rgb(207, 200, 200);
  padding: 10px 0;
}

footer p,
footer a {
  font-size: calc(0.8rem + 0.8vw);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Mobile Menu - from https://codepen.io/erikterwan/pen/EVzeRP  */
.menuToggle {
  display: block;
  position: relative;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a {
  text-decoration: none;
  color: #242424;
  transition: color 0.3s ease;
  padding: 10px 0;
  font-size: calc(1.5rem + 1.5vw);
}

.menuToggle a:hover,
.menuToggle a:focus,
.headerNavList a:hover,
.headerNavList a:focus {
  color: rgb(123, 103, 103);
  padding: 10px 0;
  transition: all 0.4s ease;
}


.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2;  /* and place it over the hamburger */
}


/* Just a quick hamburger */
.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #242424;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}


 /* Transform all the slices of hamburger into a crossmark */
.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #242424;
}

/* hide the middle one */
.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* the last one should go the other direction */
.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned at the top left of the screen */
.mobileMenuList {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/* slide it in from the left */
.menuToggle input:checked ~ ul {
  transform: none;
}


/* Media Queries */
@media (max-width: 768px) {

  /* Navigation */
  .desktopNav {
    display: none!important;
  }

  .mobileNav {
    display: block!important;
  }

  /* Products Section */
  .productImgContainer {
    width: 300px;
    height: 300px;
  }

  /* Shopping Cart */
  .cartContainer {
    width: 300px;
    padding: 0px 30px;
  }

  .itemImgInCart {
    width: 180px;
    height: 180px;
  }

  .buyBtn {
    font-size: 1.4rem;
  }

  /* QuickView Container */
  .quickViewContainer {
    width: 300px;
    padding: 20px;
  }

  .quickViewProductImgContainer {
    width: 250px;
    height: 250px;
    margin: 15px auto;
  }
}


@media (max-width: 480px) {
   /* Products Section */
  .productImgContainer {
    width: 250px;
    height: 250px;
  }

  .addBtn,
  .quickViewBtn  {
    font-size: 1.6rem
  }

  /* Shopping Cart */
  .cartContainer {
    width: 250px;
    padding: 0px 25px;
  }

  .shoppingCart {
    padding-right: 20px;
  }

  .itemImgInCart {
    width: 150px;
    height: 150px;
  }

  /* QuickView Container */
  .quickViewContainer {
    width: 250px;
    padding: 10px;
  }

  .quickViewProductImgContainer {
    width: 200px;
    height: 200px;
    margin: 10px auto;
  }
}


/* Credits
  Header image:
  'https://unsplash.com/s/photos/dried-flower?utm_source=unsplash&amp;
  utm_medium=referral&amp'
*/

/* Other Resources
  https://kayevans.github.io/pinsAndPatchesApp/
  'https://github.com/HackerYou/bootcamp-notes/blob/
  646be3ca0b441721e5f113e96ee6d422683f69f7/
  react-and-firebase/using-firebase-with-react.md'
*/